<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


		<bean id="workRulesAction" class="com.tianruan.action.WorkRulesAction">
			<property name="workRulesService" ref="workRulesServiceImpl"></property>
		</bean>
			
		<bean id="workRulesServiceImpl" class="com.tianruan.service.impl.WorkRulesService">
	     	<property name="workRulesDao" ref="workRulesDAO"></property>
	    </bean>
	    
	    <bean id="workRulesDAO" class="com.tianruan.dao.WorkRulesDao">
	         <property name="sessionFactory" ref="sessionFactory"></property>
	    </bean>
	    
</beans>